freezegun
requests
kivy
docutils; sys_platform == "win32"
pygments; sys_platform == "win32"
pypiwin32; sys_platform == "win32"
kivy-deps.sdl2; sys_platform == "win32"
kivy-deps.glew; sys_platform == "win32"
kivy-deps.gstreamer; sys_platform == "win32"
kivy-deps.angle; sys_platform == "win32"
kivy-garden
KivyCalendar
pytz
pytest
requests-mock
marshmallow
marshmallow_sqlalchemy
sqlalchemy
python-dateutil
-e git+https://github.com/evelyn9191/gtfspy.git@master#egg=gtfspy
sqlalchemy_utils
